# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Trading Data (Evita carregar o teu histórico de tokens e logs)
billing_metrics.json
fibo_data.json
news_calendar.json
dom_data.json
elliott_memory.json
soft_sl.json

# IDEs
.vscode/
.idea/